.sb-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 10px 20px;
  margin: 0.5rem 0;
  text-align: center;
  cursor: pointer;
}
.button-black {
  background-color: black;
  color: white;
}
.button-red {
  background-color: crimson;
  color: white;
}

.map-picker-container {
  display: none;
  margin: 1rem 0;
  background-color: whitesmoke;
  padding: 1rem 2rem;
}

.map-picker {
  height: 300px;
  width: 450px;
}

.sb-notify {
  display: none;
  padding: 10px 15px;
  border-radius: 8px;
  color: crimson;
  margin: 2rem 0;
}
.sb-notify.show {
  display: block;
}

.sb-notify.error {
  background-color: rgb(233, 208, 213);
}

/*form*/
.sbsl-input-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 1.2rem 0;
  width: auto;
}
.sbsl-input-label {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}
.sbsl-input-label.required::after{
  content: '*';
  margin-left: 5px;
  color: crimson;
}
.sbsl-input {
  height: 20px;
  border: 1px solid black;
  padding: 5px 10px;
  width: 90%;
}
.woocommerce-billing- .input-text:focus-visible {
  background-color: white;
}

